@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #dedede;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  padding: 30px;
}

.greeting {
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-input {
  padding: 8px;
  border: none;
  background-color: #dedede;
  border-radius: 4px;

  font-size: 2rem;

  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  color: #dc7171;
}
.form-input:focus {
  outline: none;
}

.created-todo {
  margin-top: 20px;
}

.created-todo h3 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.created-todo form {
  margin-top: 10px;
}

.created-todo h5 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #919191;
}

.created-todo .input {
  width: 100%;
  border: none;
  border-radius: 4px;

  margin-bottom: 10px;
  padding: 8px;

  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.input:focus {
  outline: none;
}
.created-todo h4 {
  margin-top: 20px;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #919191;
}

.created-todo .options {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.business {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  width: 20vw;
  height: 13vh;
}

.business input[type="radio"]:checked {
  background-color: #99f0ff;
  border-color: #99f0ff;
}
.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  width: 20vw;
  height: 13vh;
}
p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #4b4a4a;
}

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #b0b0b0;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.personal input[type="radio"]:checked {
  background-color: #ffb9c4;
  border-color: #ffb9c4;
}

.options input {
  margin-left: 23px;
  margin-bottom: 10px;
}
.submit {
  margin-top: 30px;

  width: 100%;
  height: 8vh;

  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;
  letter-spacing: 4px;

  border: none;
  border-radius: 6px;

  color: #4b4a4a;
  background-color: #add8e6;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background-color: #5b9dc6;
  color: #fff;
}
.submit:active {
  background-color: #add8e6;
  color: #4b4a4a;
}
.todo-list {
  margin: 40px 20px;
}

.todo-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.todo-list .list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.todo-item {
  display: flex;
  align-items: center;

  background-color: #fff;

  width: 100%;
  height: 10vh;

  border-radius: 6px;

  margin-bottom: 10px;
  padding: 30px;
}

.todo-item.done {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-item label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #ffb9c4;
  background-color: #ffb9c4;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  background-color: #99f0ff;
  border-color: #99f0ff;
}

input[type="checkbox"]:hover:not(:checked)::before {
  border-color: #ffb9c4;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input[type="checkbox"]:disabled::before {
  background-color: #5f5e5e;
}

input[type="checkbox"]:checked ~ input[type="text"] {
  text-decoration: line-through;
}

.todo-content input {
  font-family: "Quicksand", sans-serif;

  display: flex;
  align-items: center;

  border: none;

  margin-left: 20px;
  height: 40px;
  width: 100%;

  text-transform: capitalize;

  color: #4b4a4a;

  font-size: 1.5rem;
  font-weight: 600;
}
.todo-content input:focus {
  outline: none;
}
.delete {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #fe4d4d;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.actions {
  margin-left: 180px;
}
